<div class="admin-products container">
  <h1>{{title}}</h1>

  <div class="add-product">
    <button class="btn-add"><a href="/createproduct">Añadir nuevo producto</a></button>
  </div>

  <div class="table-responsive">
    <table class="products-table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Código</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each productos}}
          <tr>
            <td>{{this.title}}</td>
            <td>${{formatNumber this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{this.code}}</td>
            <td>
              <img
                src="{{this.image}}"
                alt="Imagen de {{this.title}}"
                class="img-mini"
              />
            </td>
            <td>
              <button class="btn-editar" data-id="{{this._id}}">
                Editar
              </button>
              <button class="btn-eliminar" data-id="{{this._id}}">
                Eliminar
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/products.js"></script>
<script src="/js/global.js"></script>